/* 
	*主色调：#FE8B8B; rgba(254,139,139,1.0);
	*字体颜色：#4D4D4D; rgba(77,77,77,1.0);
	*box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
 */
@charset 'utf-8';

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

a {
	color: #4d4d4d;
}

html {
	font-size: 12px;
	color: #4D4D4D;
}

input {
	width: 12rem;
	height: 24px;
	border: 1px solid #C3C3C3;
	border-radius: 4px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
	font-size: 12px;
	color: #4D4D4D;
	outline: none;
	padding: 0 5px;
}

button {
	outline: none;
}

::-webkit-input-placeholder{
	font-size: 10px;
	}    /* 使用webkit内核的浏览器 */
:-moz-placeholder{
	font-size: 10px;
	}                  /* Firefox版本4-18 */
::-moz-placeholder{
	font-size: 10px;
	}                  /* Firefox版本19+ */
:-ms-input-placeholder{
	font-size: 10px;
	}           /* IE浏览器 */

